
{# order #}
{# isConsumer, bool #}




{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% block content %}


<h1>{% trans "Order" %} #{{order.id}}</h1>

<p>
	{% trans "Consumer" %}：
	<span class="consumer-name">{{order.consumer.nickName}}
		(#{{order.consumer.id}})</span></p>

<p>
	{% trans "Shop" %}：
	<span class="shop-name">
		<a href="{% url 'view_shop_id' order.shop.id %}">
			{{ order.shop.name }}</a></span></p>

<p>
	{% trans "Delivery address" %}：
	<span class="address">{{order.address}}</span></p>

<p>
		{% trans "Time of creation" %}：<span class="time">{{order.time}}</span></p>
<p>
		{% trans "Total price" %}：<span class="price">{{order.price}}</span></p>

<p>{% trans "This order contains the following commodities" %}：</p>
<table class="order-items">
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Quantity" %}</th>
		<th>{% trans "Unit price" %}</th>
		<th>{% trans "Sub total" %}</th>
	</tr>
{% for orderitem in order.orderitem_set.all %}
	<tr>
		<td><span class="commodity-name">
			<a href="{% url 'view_product_id' orderitem.cmd.id %}">
				{{ orderitem.cmd.name }}</a></span>
		</td>
		<td>
			{{ orderitem.quantity }}</td>
		<td><span class="price">
			{{ orderitem.cmd.price }}</span></td>
		<td><span class="price">
			{{ orderitem.cmd.price|mul:orderitem.quantity }}</span></td>
		<td><form action="{% url 'new_comment' %}" method="post">
			{% csrf_token %}
			<input name="oiid" value="{{orderitem.id}}" type="hidden"/>
			<button class="btn-search-shop" type="submit" class="search">
				{% trans "Comment it" %}</button></form></td>
	</tr>
{% endfor %}
	<tr>
		<td>
			{% trans "Total price" %}</td>
		<td></td>
		<td></td>
		<td><span class="price">
			{{ order.price }}</span></td>
	</tr>
</table>

<p>
	{% trans "Payment" %}：{{order.payType}}</p>
<p>
	{% trans "Delivery address" %}：{{order.address}}</p>
<p>
	{% trans "Message" %}：{{order.message}}</p>
<p>
	{% trans "Status" %}：{{order.state}}</p>


<p><b>
	{% trans "Order management operations" %}</b></p>
{% if isConsumer %}
<p><a href="{% url 'confirm_order' id=order.id %}">
		{% trans "Confirm delivery and close order" %}</a></p>
{% else %}
<p><a href="{% url 'edit_order' id=order.id %}">
		{% trans "Confirm order" %}</a></p>
<p><a href="{% url 'edit_order' id=order.id %}">
		{% trans "I've started delivering" %}</a></p>
<p><a href="{% url 'edit_order' id=order.id %}">
		{% trans "Confirm receipt and close order" %}</a></p>
{% endif %}
	<p><a href="{% url 'edit_order' id=order.id %}">
		{% trans "Edit order details" %}</a></p>
	<p><a href="{% url 'delete_order' id=order.id %}">
		{% trans "Delete order" %}</a></p>
</p>


<p>
	{% trans "Do you want to grade the " %}
	{% if isConsumer %}
		{% trans "shop" %} <i>
			<a href="{% url 'view_shop_id' order.shop.id %}">
				{{ order.shop.name }}</a></i>
	{% else %}
		{% trans "consumer" %} <i>{{order.consumer.name}}</i>
	{% endif %}
	?
</p>
<form action="{% url 'apply_grading' %}" method="post">
	{% csrf_token %}
	<input name="direction" value="{%if isConsumer%}0{%else%}1{%endif%}" type="hidden"/>
	<input name="cid" value="{{order.consumer.id}}" type="hidden"/>
	<input type="hidden" name="odid" value="{{order.id}}">
	<input name="sid" value="{{order.shop.id}}" type="hidden"/>
	<p>
		{% trans "Grade ranging from 0 to 5: " %}
		<input name="grade" value="5" type="number"/></p>
	<p><button class="btn-search-shop" type="submit" class="search">
		{% trans "Submit" %}</button></p>
</form>




{% endblock %}
