
{# order #}




{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% block content %}


<h1>订单 #{{order.id}}</h1>

<p>
	消费者：
	<span class="consumer-name">{{order.consumer.nickName}}
		(#{{order.consumer.id}})</span></p>

<p>
	发货店铺：
	<span class="shop-name">
		<a href="{% url 'view_shop_id' order.shop.id %}">
			{{ order.shop.name }}</a></span></p>

<p>
	送货地址：
	<span class="address">{{order.address}}</span></p>

<p>
		创建时间：<span class="time">{{order.time}}</span></p>
<p>
		总价格：<span class="price">{{order.price}}</span></p>

<p>该订单包含以下商品：</p>
<table class="order-items">
	<tr>
		<th>商品</th>
		<th>数量</th>
		<th>单价</th>
		<th>小计</th>
	</tr>
{% for orderitem in order.orderitem_set.all %}
	<tr>
		<td><span class="commodity-name">
			<a href="{% url 'view_product_id' orderitem.cmd.id %}">
				{{ orderitem.cmd.name }}</a></span></td>
		<td>
			{{ orderitem.quantity }}</td>
		<td><span class="price">
			{{ orderitem.cmd.price }}</span></td>
		<td><span class="price">
			{{ orderitem.cmd.price|mul:orderitem.quantity }}</span></td>
	</tr>
{% endfor %}
	<tr>
		<td>
			订单总价</td>
		<td></td>
		<td></td>
		<td><span class="price">
			{{ order.price }}</span></td>
	</tr>
</table>

<p>
	购买方式：{{order.payType}}</p>
<p>
	送货地址：{{order.address}}</p>
<p>
	留言：{{order.message}}</p>
<p>
	订单状态：{{order.state}}</p>


<p>
	管理操作：
	<a href="{% url 'edit_order' id=order.id %}">
		编辑订单</a>
	<a href="{% url 'delete_order' id=order.id %}">
		删除订单</a>
</p>


{% endblock %}
