{# shop 店铺 #}
{# categoryList 数组，所属分类，从分类树的根节点开始 #}

{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="../../../static/css/login.css" type="text/css"/>
{% endblock %}

{% load i18n %}
{% block content %}
<!--head-->
	<div class="w">
		<div id="logo">
			<a href="{% url 'index' %}" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="shop-details-pic"></b>
		</div>
	</div>
	<!--店铺信息详情-->
	<div class="shop-details-content">

		<h1 class="id-shop">店 铺 #{{shop.id}}</h1>

		<p class="shop-name">店铺名称：<span>{{shop.name}}</span></p>

		<p>类&nbsp;&nbsp;别：
			<div class="category-container">
				{% for category in categoryList %}
			    <span class="category-delimiter"> &gt; </span>
					<span class="category-name">{{ category.name }} (#{{ category.id }}) </span>
				{% endfor %}
			</div>
		</p>

		<p>位&nbsp;&nbsp;置：
			<span class="shop-location">{{shop.location}}</span></p>
		<p>简&nbsp;&nbsp;介：
			<span class="shop-intro">{{shop.intro}}</span></p>
		<p>开店日期：
			<span class="shop-date">{{shop.createDate}}</span></p>

		<ul class="commodity-list">
		{% for commodity in shop.commodity_set.all %}
				<li class="commodity-item">
					<span class="commodity-name">
						<a href="{% url 'view_product_id' commodity.id %}">
							{{ commodity.name }}</a></span>
					 ¥ <span class="commodity-price">{{ commodity.price }}</span>
				 </li>
		{% endfor %}
		</ul>

		<p>
			管理操作：
			<a class="edit-shop" href="{% url 'edit_shop' %}">
				编辑店铺</a>
			<a class="delete-shop" href="{% url 'delete_shop' %}">
				删除店铺</a>
		</p>

	</div>



{% endblock %}
