{# 表单 POST 自己，参数 q #}
{# shops， 全部 或 搜索结果集 #}
{# query 当前搜索框内容 #}

{% extends "base.html" %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="../../../static/css/login.css" type="text/css"/>
{% endblock %}
{% block content %}
<!--head-->
	<div class="w">
		<div id="logo">
			<a href="http://tgou.ssast.org/" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="search-shops"></b>
		</div>
	</div>
	<!--店铺搜索-->
	<div class="shop-content">
		<form action="" method="POST">
				{% csrf_token %}
				<input class="search-input" name="q" value="{{query}}"/>
				<button class="btn-search-shop" type="submit" class="search">搜索</button>
		</form>

		<p>
			以下店铺已入驻天狗：
		</p>

		<ul class="shop-list">
			{% for shop in shops %}
			<li class="shop-item">
				<p>
					<span class="shop-name">{{shop.name}} (#{{shop.id}})</span></p>
				<p>位置：
					<span class="shop-location">{{shop.location}}</span></p>
				<p>分类：
					<span class="category-name">{{shop.category.name}}</span></p>
				<p>简介：
					<span class="shop-intro">{{shop.intro}}</span></p>
		 	</li>
			{% endfor %}
		</ul>

	</div>


{% endblock %}
