{# 定义 CartEditJSON：表示用户对购物车的编辑，字符串，以JSON解释， #}
{#     javascript 字典(key-value pairs)，key为商品id，value为数组，0下标元素为数量，1下标元素为单价 #}
{#     如 `{233: [3, 20], 234: [2, 10], 235: [5, 10]}` 表示购物车中目前有233号商品（单价20元）3件，...  #}
{#     如 `{233: [2, 0], 234: [2, "foo"], 235: [0, 10]}` 表示用户把233号商品改成了2件，并从购物车中删除了235号商品 #}

{# POST 到自己 #}
{#      whatamidoing: 字符串，submit 表示提交、生成订单，save 表示暂存（含“清空购物车”） #}
{#      cartJson: 上述定义的CartEditJSON：JSON字符串 #}

{# 接受的模板参数 #}
{#      cart，常规Python对象 #}
{#      cartJson，上述定义的CartEditJSON：JSON字符串 #}

{# 实现说明：初始 DOM 由后端模板引擎渲染，此后交互操作由前端 JavaScript 完成#}







{# 注意！有直接 DOM 操作，请谨慎编辑 #}







{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% block head %}
<link rel="stylesheet" href="../../static/css/login.css" type="text/css"/>
{% endblock %}
{% block content %}

<!--head-->
	<div class="w">
		<div id="logo">
			<a href="{% url 'index' %}" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="vcart-pic"></b>
		</div>
	</div>

<script>
{% autoescape off %}
	document.TGou_cartJson = {{cartJson}};
{% endautoescape %}
</script>


<div class="vcart-content">
<h1>{% trans "Your cart" %}</h1>

<p>{% trans "now contains the following commodities" %}：</p>
<table class="order-items">
	<tr>
		<th>{% trans "Commodity" %}</th>
		<th>{% trans "Shop" %}</th>
		<th>{% trans "Quantity" %}</th>
		<th>{% trans "Unit price" %}</th>
		<th>{% trans "Sub total" %}</th>
		<th>{% trans "Oparation" %}</th>
	</tr>

{% for cartitem in cart.cartitem_set.all %}
	<tr id="commodity_id_{{cartitem.commodity.id}}">
		<td>
			<span class="commodity-name">
				<a href="{% url 'view_product_id' cartitem.commodity.id %}">
					{{ cartitem.commodity.name }}</a></span></td>
		<td>
			<span class="shop-name">
				<a href="{% url 'view_shop_id' cartitem.commodity.shop.id %}">
					{{ cartitem.commodity.shop.name }}</a></span></td>
		<td>
			<input
				class="quantity-box"
				value="{{ cartitem.quantity }}"
				type = "tel"
				oninput = "item_changeQuantity({{cartitem.commodity.id}})"
				 /></td>
		<td>
			<span class="price unit-price">
			{{cartitem.commodity.price}}</span></td>
		<td>
			<span class="price sub-total"></span></td>
		<td>
			<button
				class="cartitem-remove"
				onclick="item_remove({{cartitem.commodity.id}})">{% trans "Remove" %}</button>
		</td>
	</tr>
{% endfor %}
	<tr>
		<td>
			{% trans "Total price" %}</td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<span class="price" id="total-price"></span></td>
		<td></td>
	</tr>
</table>

<div id="notice" style="display:none">
	{% trans "You hava made changes to your cart. Don't forget to save your changes." %}</div>

<form method="post" action="" id="form">
	    {% csrf_token %}
	<input id="whatamidoingField" name="whatamidoing" type="hidden" value=""/>
	<input id="cartJsonField" name="cartJson" type="hidden" value=""/>

	<button type="button" class="cart-reload" onclick="cart_reload()">
		{% trans "Undo all changes" %}</button>
	<button type="button" class="clear-cart" onclick="cart_clear()">
		{% trans "Clear cart" %}</button>
	<button type="button" class="cart-save" onclick="cart_save()" style="display:none;">
		{% trans "Save changes" %}</button>
	<button type="button" class="cart-submit" onclick="cart_submit()">
		{% trans "Go to pay" %}</button>
</form>

</div>


<script src="/static/jquery.min.js"></script>
<script>
	function for_own_properties(object, callback){
		for (var property in object) {
			if (object.hasOwnProperty(property)) {
					callback(property);
			}
		}
	}
</script>
<script>

	function show_notice(){
		$('#notice').show();
		$('button.cart-save').show();
		$('button.cart-submit').html('{% trans "Save changes and go to pay" %}');
	}
	function item_remove(id){
		$('#commodity_id_'+id).fadeOut(function(){
			document.TGou_cartJson[id][0] = 0;
			update_totals();
			show_notice();
		});
	}
	function item_changeQuantity(id){
		var q = parseInt($('#commodity_id_'+id+' input.quantity-box')[0].value);
		if(isNaN(q)) q = 0;
		document.TGou_cartJson[id][0] = q;
		update_totals();
		show_notice();
	}
	function update_totals(){
		var total = 0;

		for_own_properties(document.TGou_cartJson, function(id){
			var sub_total
				= parseFloat(document.TGou_cartJson[id][1])
				* parseInt(document.TGou_cartJson[id][0]);
			total += sub_total;
			$('#commodity_id_'+id+' .sub-total').html(sub_total.toFixed(2));
		});
		$('#total-price').html(total.toFixed(2));
	}
	function cart_reload(){
		document.location.reload();
	}

	function serializeAndPost(){
		$('#cartJsonField').val(JSON.stringify(document.TGou_cartJson));
		$('#form').submit();
	}
	function cart_save(){
		$('#whatamidoingField').val('save');
		serializeAndPost();
	}
	function cart_submit(){
		$('#whatamidoingField').val('submit');
		serializeAndPost();
	}
	function cart_clear(){
		document.TGou_cartJson = {};
		$('#whatamidoingField').val('save');
		serializeAndPost();
	}

</script>

<script>
	update_totals();
</script>

{% endblock %}
