{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/base.css" type = "text/css"/>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    {% block head %}


    {% endblock %}
    <title>{% block title %}上天狗 就购了{% endblock %}</title>
</head>

<body>
    <!--导航栏-->
    <div id="header">
    {% block header %}
    <p class="sn-container">
        <i class="icon-ui glyphicon glyphicon-home"></i>
        <a class="head_home" href="{% url 'index' %}">{% trans "Home" %}</a> &nbsp;&nbsp;
    <p class="sn-container2"> 
        {% if user.is_authenticated %}
             {% trans "Log in" %}: {{ user.username }}&nbsp;
             (<a class="head_logout" href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
            <a class="head_changepassword" href="{% url 'auth_password_change' %}">{% trans     "Change password" %}</a>)
        {% else %}
             <a class="head_login" href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
        {% endif %}
    </p>
    <p class="sn-container3">
         <a class="welcome-registe" href="#">欢迎注册</a>
    </p>
    <p class="sn-container4">
        <a class="my-order" href="{% url 'view_order' %}">我的订单</a>
    </p>
    <p class="sn-container5">
        <i class="icon-ui glyphicon glyphicon-shopping-cart"></i>
        <a class="my-cart" href="#">购物车</a>
    </p>
    
    {% endblock %}
    <hr/>
    </div>

    <!--主体-->
    <div id="content">
    {% block content %}

    {% endblock %}
    </div>

    <!--脚-->
    <div id="footer">
    {% block footer %}
        <hr />
        <div class="foot">
            copyRight:天狗集团 | All Rights Reserved<br/>
            李肇阳 ｜ 王永赫 ｜ 刘想<br/>
            紫荆一号楼三单元
        </div>
    {% endblock %}
    </div>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>
