{# POST 提交到自己#}

{# form #}
{# entityType，string shop/product/order #}

{# 由以下各 view 共用：shop/product/order 的 edit/new #}

{% extends "base.html" %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="../../static/css/login.css" type="text/css"/>

{% endblock %}


<!--店铺编辑-->
{% block content %}
<!--head-->
	<div class="w">
		<div id="logo">
			<a href="{% url 'index' %}" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="/static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="edit-yourshop"></b>
		</div>
	</div>

	<div class="registration-boder">
		<div class="edit_profile_content">
				<div class="edit_profile_gif"></div>

				<h1>&nbsp;&nbsp;&nbsp; {% trans "Edit" %} {{entityType}}</h1>

				<p class="edit">{% trans "You are editing a(n) " %} {{entityType}}...</p>

				<form method="POST" action="" class="" >
    				{% csrf_token %}
    				{{ form.as_p }}
    				<button class="btn-submit" type="submit">Save</button>
				</form>
		</div>
	</div>


{% endblock %}
