{# 表单 POST 到 /add-to-cart，字段名 commodityId, quantity #}

{# commodity #}
{# categoryList 从分类树的根节点开始 #}
{# comments 需要显示的评论数组 #}
{# average 评论的平均分 #}




{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="../../static/css/login.css" type="text/css"/>
{% endblock %}


{% block content %}

<!--head-->
	<div class="w">
		<div id="logo">
			<a href="{% url 'index' %}" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="search-commodities-details-pic"></b>
		</div>
	</div>

	<!--商品信息详情-->
	<div class="shop-content">
		<h1 class="id-shop">商&nbsp;品 #{{commodity.id}}</h1>

		<p class="shop-name">商品名称：
			<span class="commodity-name">{{commodity.name}}</span></p>

		<p>店&nbsp;&nbsp;铺：
			<span class="category-name">
				<a href="{%url 'view_shop_id' commodity.shop.id}">
					{{ commodity.shop.name }}</a></span></p>

		<p>类&nbsp;&nbsp;别：
			<div class="category-container">
				{% for category in categoryList %}
			    <span class="category-delimiter"> &gt; </span>
					<span class="category-name">{{ category.name }} (#{{ category.id }}) </span>
				{% endfor %}
			</div>
		</p>


		<p>详&nbsp;&nbsp;情：
					<span class="commodity-intro">{{commodity.intro}}</span></p>
		<p class="want-to-buy">有意购买？</p>

		<form action="{% url 'add-to-cart' %}" method="post">
			{% csrf_token %}
			<input name="commodityId" value="{{commodity.id}}" type="hidden" />
			<p class="want-to-buy-num">
				件&nbsp;&nbsp;数：
				<input class="commodities-input" name="quantity" value="" type="text" /></p>
				<button class="btn-search-shop" type="submit" class="add-to-cart">加入购物车</button>
		</form>




		<p>针对此商品的评论：
			共 <span class="comment-count">{{comments|length}}</span> 条，
			平均得分 <span class="comment-average">{{average}}</span>。</p>

		<ul class="comment-list">
		{% for comment in comments %}
				<li class="comment-item">
					用户<span class="comment-consumer">{{ comment.consumer.nickName }}</span>，
					评分<span class="comment-grade">{{ comment.grade }}</span>，
					<span class="comment-message">{{ comment.message }}</span>，
					发表于 <span class="comment-time">{{ comment.time }}</span>
				</li>
		{% endfor %}
		</ul>


		<p>
			管理操作：
			<a href="{% url 'edit_product' commodity.id %}">
				编辑商品</a>
			<a href="{% url 'delete_product' commodity.id %}">
				删除商品</a>
		</p>
	</div>



{% endblock %}
