{% extends "base.html" %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="../../../../static/css/base.css" type="text/css"/>
<link rel="stylesheet" href="../../../../static/css/login.css" type="text/css"/>

{% endblock %}

{% block content %}
<div class="send_sucess">
	<img class="img_sucess" src="../../../../static/images/sucess.jpg" />
	<p class="password_change_done">{% trans "Email with password reset instructions has been sent!" %}</p>
	<button class="btn-submit btn-submit-sure" type="button"><a href="{% url 'index' %}">{% trans "确定" %}</a></button>
</div>
<div class="dynamic_gif">
	<img src="../../../../static/images/wudong.gif" />
</div>

{% endblock %}

