{% extends "base.html" %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="../../../static/css/login.css" type="text/css"/>
<link rel="stylesheet" href="../../../static/css/base.css" type = "text/css"/>

{% endblock %}

{% block content %}
<!--head-->
	<div class="w">
		<div id="logo">
			<a href="http://tgou.ssast.org/" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="change_password_pic"></b>
		</div>
	</div>
	<div class="registration-boder">
		<div class="change_password_content">
			<div class="change_password_gif"></div>
			<form method="post" action=".">
  				{% csrf_token %} 
  				{{ form.as_p }}

  				<input class="btn-submit" type="submit" value="{% trans 'Submit' %}" />
			</form>
		</div>
	</div>
{% endblock %}
