{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../../../static/css/base.css">
<link rel="stylesheet" href="../../../static/css/login.css" type="text/css"/>

{% endblock %}

{% block content %}

	<!--head-->
	<div class="w">
		<div id="logo">
			<a href="http://tgou.ssast.org/" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="reset_password_pic"></b>
		</div>
	</div>
	<!--内容-->
	<div class="change_password_content">
		<form method="post" action=".">
  			{% csrf_token %} 
  			{{ form.as_p }}

  			<input class="btn-submit" type="submit" value="{% trans 'submit' %}" />
		</form>
	</div>
	<!--动图-->
	<div class="dynamic_gif1">
		<img src="../../../../static/images/fakuang.gif" />
	</div>

{% endblock %}
