{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="../../static/css/login.css" type="text/css"/>
{% endblock %}

{% block content %}
	<!--head-->
	<div class="w">
		<div id="logo">
			<a href="http://tgou.ssast.org/" clstag='clickcart|keycount|shoppingcartpop|logo'>
				<img src="../../static/images/tgou.jpg" alt="天狗" width="170" height="60" />
			</a>
			<b class="welcome-registration"></b>
		</div>
	</div>
	<!--注册-->
	<div class="registration-boder">
		<div class="registration_right">

		</div>
		<div class="registration_left">

		<form method="post" action=".">

  			{% csrf_token %}
  			{{ form.as_p }}

  			<input class="btn-submit" type="submit" value="{% trans 'submit' %}" />
		</form>
		</div>
	

	</div>
{% endblock %}
